/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width:100%;
}

a {
    text-decoration: none;
}

/* HEADER */
.header{
    background-color: aqua;
    height:80px;
    padding: 10px;
}

.banner{
    width: 75%;
    max-width:1000px;
    margin: 0 auto;
    /* specifiche flex */
    display: flex;
    align-items: center;
    background-color: orange;
}

.logo{
    width: 25%;
    /* debug */
    border: 1px solid black;
}

.link{
    width: 50%;
    /* specifiche flex */
    display: flex;
    flex-direction: column;
    /* debug */
    border: 1px solid black;
}


.different-links{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}

.list-link{
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
}

.login{
    width:25%;
    text-align: end;
    /* debug */
    border: 1px solid black;
   
}

/* main */
/* banner blu */
.banner-blu{
    background-color: blue;    
    padding: 40px 0px;
    /* da togliere una volta presente contenuto */
    /* height: 500px; */
}

.text-box{
    background-color: rgb(239, 141, 236);
    max-width: 60%;
    margin: 0 auto;
    /* debug */
    border: 1px solid white;
    /* da togliere una volta presente contenuto */
    height: 400px;
}


/* PRIMA WHITE CARD */

.white-1{
    background-color: white;  
    padding: 45px;
    margin: 0 auto;
    /* height: 450px; */
}

.white-card-1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 80%;
    /* width: 650px; */
    margin: 0 auto;
    justify-content: center;
    /* da togliere una volta presente contenuto */
    /* height:400px; */
}   

.white-card-left{
    width: 70%;
    background-color: rgb(16, 177, 252);
    /* debug */
    border: 1px solid black;
    /* da togliere una volta presente contenuto */
    height: 400px;
    
}

.white-card-right{
    width: 30%;
    background-color: pink;
    /* debug */
    height: 400px;
    border: 1px solid black;
}

/* FINE PRIMA WHITE CARD */
/* INIZIO PRIMA GREY CARD  per altezza segui come sopra da togliere nel caso di contenuti*/

.grey-1{
    background-color: rgb(95, 92, 92);
    /* height: 450px;     */
    padding: 45px;
    margin: 0 auto;
    
}

.grey-card-1{
    display: flex;
    height:300px;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 80%;
    /* width: 650px; */
    margin: 0 auto;
    justify-content: center;
    /* margin-top: 20px; */
}

.grey-card-right{
    width: 70%;
    background-color: rgb(16, 177, 252);
    height: 400px;
    border: 1px solid black;
}

.grey-card-left{
    width: 30%;
    background-color: pink;
    height: 400px;
    border: 1px solid black;
}

/* FINE PRIMA GREY CARD */

/* INIZIO SECONDA WHITE CARD */

.white-1{
    background-color: white;
    height: 400px;
    /* debug */
    border: 1px solid black;
    margin: 0 auto;
}

.white-card-1{
    display: flex;
    height: 300px;
    max-width: 80%;
    margin: 0 auto;
}

.white-card-left{
    max-width: 70%;
    background-color: rgb(16, 177, 252);
}

.white-card-right{
    max-width: 30%;
    background-color: pink;
}

/* FINE SECONDA WHITE CARD */
/* INIZIO GREY BOX */
.grey-box{
    background-color: rgb(95, 92, 92);
    height: 700px;
    padding-top: 100px;
    /* debug */
    border: 1px solid black;
}

.text-green-box{
    max-width: 70%;
    margin: 0 auto;
    /* debug */
    background-color: green;
    border: 1px solid black;
    height: 500px;
}

/* INIZIO FOOTER */
/* FOOTER CON COLONNE */
.first-black-footer{
    background-color: rgb(0, 0, 0);
    height: 650px;
    padding: 75px;
}

.columns-box{
    display: flex;
    height: 500px;
}

.big-column{
    width: 35%;
    /* debug */
    border: 1px solid rgb(255, 255, 255);
    background-color: salmon;
    height: 500px;
}

.small-column{
    /* debug */
    background-color: rgb(68, 235, 235);
    border: 1px solid rgb(255, 255, 255);
    height: 500px;
    /* flex-grow: 1; */
    width: calc(70% / 4);

}

.second-black-footer{
    background-color: rgb(0, 0, 0);
    height: 150px;
    padding: 35px;
    margin-top: 3px;
}

.footer-banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
    height: 80px ;
}

.background-footer{
    background-color: rgb(255, 169, 48);
}

.logo-footer{
    
    padding: 5px;
}

.bottone{
    padding: 5px;
}