/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width:100%;
}

/* HEADER */
.header{
    background-color: aqua;
    height:80px;
    padding: 10px;
}

.banner{
    width: 80%;
    max-width:1000px;
    margin: 0 auto;
    /* specifiche flex */
    display: flex;
    align-items: center;
    background-color: orange;
}

.logo{
    width: 25%;
    /* debug */
    border: 1px solid black;
}

.link{
    width: 50%;
    /* specifiche flex */
    display: flex;
    flex-direction: column;
    /* debug */
    border: 1px solid black;
}


.different-links{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex: wrap;
    justify-content: center;
    

}

.list-link{
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
}

.login{
    width:25%;
    /* debug */
    border: 1px solid black;
    /* justify-items: end;  da chiedere come allineare verso il fondo*/
}

/* main */
/* banner blu */
.banner-blu{
    background-color: blue;
    height: 500px;
    padding: 35px;
}

.text-box{
    background-color: rgb(239, 141, 236);
    max-width: 60%;
    margin: 0 auto;
    /* debug */
    border: 1px solid white;
    max-height: 70%;
}

.main-container{
    max-width: 60%;
    margin: 0 auto;
}

/* PRIMA WHITE CARD */

.white-1{
    background-color: white;
    height: 400px;
    /* debug */
    border: 1px solid black;
}

.white-card-1{
    display: flex;
    height: 300px;
    max-width: 80%;
    margin: 0 auto;
}

.white-card-left{
    max-width: 70%;
    background-color: rgb(16, 177, 252);
}

.white-card-right{
    max-width: 30%;
    background-color: pink;
}

/* FINE PRIMA WHITE CARD */
/* INIZIO PRIMA GREY CARD */

.grey-1{
    background-color: rgb(95, 92, 92);
    height: 400px;
    /* debug */
    border: 1px solid black;
}

.grey-card-1{
    display: flex;
    height: 300px;
    max-width: 80%;
    margin: 0 auto;
}

.grey-card-left{
    max-width: 30%;
    background-color: pink;
}

.grey-card-right{
    max-width: 70%;
    background-color: rgb(16, 177, 252);
}

/* FINE PRIMA GREY CARD */

/* INIZIO SECONDA WHITE CARD */

.white-1{
    background-color: white;
    height: 4000px;
    /* debug */
    border: 1px solid black;
}

.white-card-1{
    display: flex;
    height: 300px;
    max-width: 80%;
    margin: 0 auto;
}

.white-card-left{
    max-width: 70%;
    background-color: rgb(16, 177, 252);
}

.white-card-right{
    max-width: 30%;
    background-color: pink;
}

/* FINE SECONDA WHITE CARD */
/* INIZIO GREY BOX */
.grey-box{
    background-color: rgb(95, 92, 92);
    height: 400px;
    /* debug */
    border: 1px solid black;
}

.text-green-box{
    max-width: 70%;
    /* debug */
    background-color: green;
    border: 1px solid black;
}

/* INIZIO FOOTER */
/* FOOTER CON COLONNE */
.first-black-footer{
    background-color: rgb(0, 0, 0);
    height: 500px;
    padding: 35px;
}

.columns-box{
    display: flex;
    flex-direction: column;
}

.big-column{
    width: 35%;
    /* debug */
    border: 1px solid black;
    background-color: salmon;
}

.small-column{
    /* debug */
    background-color: rgb(69, 69, 169);
    border: 1px solid black;

}

.second-black-footer{
    background-color: rgb(0, 0, 0);
    height: 500px;
    padding: 35px;
    margin-top: 15px;
}

.footer-banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-footer{
    background-color: aqua;
    padding: 5px;
}

.bottone{
    background-color: aqua;
    padding: 5px;
}